.add-task-container{
    background-color: var(--bg-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.3);
    z-index: 10;
    transition: 200ms;
    width: min-content;
}

.toggleAddTask{
    top:20%;
    transform: translate(-50%, 0%) scale(1);
    transition: 200ms;
}

.add-task-container .top,
.add-task-container .bottom{
    padding: 15px;
}

.add-task-container .bottom{
    border-top: 1px solid var(--sidebar-hover-color);
}

.add-task-container input{
    width: 450px;
    border: none;
    outline: none;
}

.add-task-container input:first-of-type{
    margin-bottom: 5px;
}

.add-task-container input:first-of-type,
.add-task-container input:first-of-type::placeholder{
    font-size: 0.95rem;
    font-weight: 700;
}

.add-task-container input:nth-of-type(2),
.add-task-container input:nth-of-type(2)::placeholder{
    font-size: 0.87rem;
    font-weight: 400;
}

.add-task-container .flex-container{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.add-task-container .flex-container > div{
    font-size: 0.85rem;
    border-radius: 5px;
    border: 1px solid rgb(206, 206, 206);
    position: relative;
}

.add-task-container .flex-container > div .btn{
    display: flex;
    gap: 6px;
    align-items: center;
    height: 100%;
    padding: 2px 6px;
}

.add-task-container .flex-container > div .btn:hover{
    background-color: var(--sidebar-hover-color);
    cursor: pointer;
    transition: 500ms;
}


.add-task-container .flex-container > div img{
    width: 0.95rem;
}

.add-task-container .flex-container .due-date{
    color: #0d9488;
}

.add-task-container .flex-container .due-date img{
    filter: invert(42%) sepia(17%) saturate(4200%) hue-rotate(140deg) brightness(94%) contrast(90%);
}

.add-task-container .bottom{
    display: flex;
    position: relative;
}

.add-task-container .select-project{
    margin-right: auto;
}

.add-task-container .bottom > *{
    padding: 6px 10px;
}

.add-task-container .bottom > button{
    border: none;
    border-radius: 5px;
    font-size: 0.85rem;
}

.add-task-container button.add-btn{
    margin-left: 10px;
    background-color: var(--topPanel-color);
    color: #fff;
    opacity: 0.6;
}

.add-task-container button.cancel-btn{
    background-color: #f5f5f5;
}

.add-task-container button.cancel-btn:hover{
    background-color: var(--sidebar-hover-color);
    cursor: pointer;
    transition: 500ms;
}

.add-task-container .select-project{
    display: flex;
    border-radius: 5px;
    align-items: center;
    gap: 6px;
    font-size: 0.85rem;
    font-weight: 700;
    opacity: 0.7;
}

.add-task-container .select-project img{
    width: 0.95rem;
}

.add-task-container .select-project:hover{
    opacity: 1;
    background-color: var(--sidebar-hover-color);
    transition: 500ms;
    cursor: pointer;
}

/* Date picker */

.add-task-container .date-picker{
    color: #000;
    background-color: #fff;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: 260px;
    border-radius: 5px;
    z-index: 20;
    transform: scaleY(0);
    transition: 100ms;
    transform-origin: top;
}

.add-task-container .date-picker.show{
    transform: scaleY(1);
    transition: 100ms;
}

.add-task-container .date-picker .type-date{
    padding: 15px;
    border-bottom: 1px solid var(--sidebar-hover-color);
}

.add-task-container .date-picker .type-date input{
    width: 100%;
    font-size: 0.85rem;
    margin: 0;
    padding: 0;
    font-weight: 100;
}

.add-task-container .date-picker .type-date input::placeholder{
    font-size: 0.85rem;
    font-weight: 100;
}

.add-task-container .date-picker .pick-icon{
    padding: 10px;
}

.add-task-container .date-picker .pick-icon > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.add-task-container .date-picker .pick-icon > div span{
    display: flex;
    align-items: center;
    gap: 15px;
}

.add-task-container .date-picker .pick-icon > div:hover{
    background-color: var(--sidebar-hover-color);
    cursor: pointer;
    transition: 500ms;
}

.add-task-container .date-picker .pick-icon > div p{
    margin: 0;
}

.add-task-container .date-picker .pick-icon > div > p{
    font-weight: 100;
    font-size: 0.8rem;
}

.add-task-container .date-picker .pick-icon > div img{
    width: 1.3rem;
}

.add-task-container .date-picker .pick-icon > div:first-of-type img{
    filter: invert(78%) sepia(27%) saturate(4607%) hue-rotate(3deg) brightness(99%) contrast(94%);
}
.add-task-container .date-picker .pick-icon > div:nth-of-type(2) img{
    filter: invert(76%) sepia(55%) saturate(7086%) hue-rotate(166deg) brightness(97%) contrast(90%);
}
.add-task-container .date-picker .pick-icon > div:last-of-type img{
    filter: invert(100%) sepia(31%) saturate(324%) hue-rotate(298deg) brightness(87%) contrast(91%);
}

.add-task-container .date-picker .calendar{
    border-top: 1px solid var(--sidebar-hover-color);
    padding: 0px 15px;
    overflow: auto;
    height: 200px;
    position: relative;
}

.add-task-container .date-picker .calendar ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.add-task-container .date-picker .calendar .nav{
    padding-top: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 50;
}

.add-task-container .date-picker .calendar .nav p{
    margin: 0;
}

.add-task-container .date-picker .calendar .nav img{
    filter: invert(67%) sepia(0%) saturate(565%) hue-rotate(240deg) brightness(106%) contrast(63%);
}

.add-task-container .date-picker .calendar .nav .icons{
    display: flex;
}

.add-task-container .date-picker .calendar .nav .icons > div{
    padding: 3px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-task-container .date-picker .calendar .nav .icons > div:hover{
    background-color: var(--sidebar-hover-color);
    cursor: pointer;
    transition: 500ms;
}

.add-task-container .date-picker .calendar .bottom{
    border: none;
    padding-top: 0;
    display: flex;
}

.add-task-container .date-picker .calendar .bottom ul{
    display: flex;
    border: none;
}

.add-task-container .date-picker .calendar .bottom ul li{
    border: none;
    font-size: 0.85rem;
    font-weight: 400;
}

.add-task-container .date-picker .calendar ul{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.add-task-container .date-picker .calendar ul li{
    border: none;
    font-size: 0.7rem;
    font-weight: 400;
}

.add-task-container .date-picker .add-time{
    border-top: 1px solid var(--sidebar-hover-color);
    padding: 5px 0 5px 15px;
    position: relative;
}

.add-task-container .date-picker .add-time p{
    cursor: pointer;
    color: var(--topPanel-color);
    font-weight: 700;
    margin: 0;
    padding: 5px 0;
    width: max-content;
}

.add-task-container .date-picker .add-time .time-picker{
    position: absolute;
    width: 200px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px 15px;
    bottom: 100%;
    left: -20%;
    z-index: 100;
    background-color: #fff;
}

.add-task-container .date-picker .add-time .time-picker > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-task-container .date-picker .add-time .time-picker input{
    width: 100px;
    margin: 0;
    padding: 0;
    border: 1px solid var(--sidebar-hover-color);
    font-size: 0.85rem;
    font-weight: 100;
    padding: 4px;
    border-radius: 5px;
}

.add-task-container .date-picker .add-time .time-picker input::placeholder{
    font-size: 0.85rem;
    font-weight: 100;
}
.add-task-container .date-picker .add-time .time-picker input:focus{
    outline: 1px solid var(--sidebar-hover-color);
}

.add-task-container .date-picker .add-time .time-picker .time{
    border-bottom: 1px solid var(--sidebar-hover-color);
    padding-bottom: 10px;
}

.add-task-container .date-picker .add-time .time-picker .btns{
    padding-top: 10px;
}


/* Priority picker */
.add-task-container .priority-picker{
    background-color: #fff;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: max-content;
    border-radius: 5px;
    z-index: 20;
    transform: scale(0);
    transition: 100ms;
    transform-origin: top;
}

.add-task-container .priority-picker.show{
    transform: scale(1);
    transition: 100ms;
}

.add-task-container .priority-picker > div{
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.add-task-container .priority-picker > div:hover{
    cursor: pointer;
    background-color: var(--sidebar-hover-color);
    transition: 500ms;
}

.add-task-container .priority-picker > div p{
    margin: 0;
    padding: 0 10px;
}

.add-task-container .priority-picker > div img:last-of-type{
    filter: invert(44%) sepia(74%) saturate(3398%) hue-rotate(334deg) brightness(96%) contrast(83%);
    width: 1.2rem;
    opacity: 0;
}
.add-task-container .priority-picker > div.checked img:last-of-type{
    opacity: 1;
}

.add-task-container .priority-picker > div.prio1 img:first-of-type{
    filter: invert(44%) sepia(74%) saturate(3398%) hue-rotate(334deg) brightness(96%) contrast(83%);
}
.add-task-container .priority-picker > div.prio2 img:first-of-type{
    filter: invert(70%) sepia(49%) saturate(4175%) hue-rotate(1deg) brightness(105%) contrast(92%);
}
.add-task-container .priority-picker > div.prio3 img:first-of-type{
    filter: invert(45%) sepia(41%) saturate(982%) hue-rotate(178deg) brightness(102%) contrast(94%);
}

/* Label Picker*/
.add-task-container .label-picker{
    width: max-content;
    background-color: #fff;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    border-radius: 5px;
    z-index: 20;
    transform: scale(0);
    transition: 100ms;
    transform-origin: top;
}
.add-task-container .label-picker.show{
    transform: scale(1);
    transition: 100ms;
}

.add-task-container .label-picker > div{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.add-task-container .label-picker > div:hover{
    transition: 500ms;
    cursor: pointer;
    background-color: var(--sidebar-hover-color);
}

.add-task-container .label-picker > div img{
    filter: invert(71%) sepia(3%) saturate(621%) hue-rotate(341deg) brightness(93%) contrast(88%);
    width: 1.2rem
}

.add-task-container .label-picker > div p{
    margin: 0;
}

/* project picker */
.add-task-container .bottom .project-picker{
    width: max-content;
    background-color: #fff;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    border-radius: 5px;
    z-index: 20;
    transform: scale(0);
    transition: 100ms;
    transform-origin: top;
}

.add-task-container .bottom .project-picker.show{
    transform: scale(1);
    transition: 100ms;
}

.add-task-container .bottom .project-picker input{
    width: 32ch;
    font-size: 0.85rem;
    margin: 0;
    padding: 0;
}

.add-task-container .bottom .project-picker input::placeholder{
    font-size: 0.85rem;
}

.add-task-container .bottom .project-picker > div{
    display: flex;
    font-size: 0.9rem;
    gap: 8px;
    margin-top: 5px;
    border-top: 1px solid var(--sidebar-hover-color);
}

.add-task-container .bottom .project-picker p{
    margin: 0;
    padding: 5px 0;
    font-size: 0.9rem;
    font-weight: 400;
}

.add-task-container .bottom .project-picker > ul figcaption{
    font-size: 0.9rem;
    font-weight: 400;
    position: relative;
    padding: 0;
    padding-left: 23px;
}

.add-task-container .bottom .project-picker > ul figcaption::before{
    content: '';
    position: absolute;
    left: -2px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 20px;
    height: 20px;
    background: url('../assets/icons/dot.svg');
    filter: invert(60%) sepia(44%) saturate(0%) hue-rotate(255deg) brightness(97%) contrast(98%);
}

.add-task-container .bottom .project-picker > ul > *{
    border: none;
}

.add-task-container .bottom .project-picker > ul li{
    font-size: 0.90rem;
    padding-left: 30px;
}