.add-task-container{
    background-color: var(--bg-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.3);
    z-index: 10;
    transition: 200ms;
    width: min-content;
}
.edit-task-container,
.add-task-container-inline{
    background-color: var(--bg-color);
    position:static;
    transform: none;
    box-shadow: none;
    border: 1px solid #949494;
    width: 100%;
}

.toggleAddTask{
    top:20%;
    transform: translate(-50%, 0%) scale(1);
    transition: 200ms;
}

.add-task-container .top,
.add-task-container .bottom{
    padding: 15px;
}

.add-task-container .bottom{
    border-top: 1px solid var(--sidebar-hover-color);
}

.add-task-container input{
    width: 450px;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
}

.edit-task-container .top .inputs > div input{
    z-index: 3;
    position: relative;
}

.add-task-container .top .inputs div:first-of-type{
    position: relative;
}

.add-task-container .top .inputs div .label-added{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #fecaca;
    z-index: -1;
    border-radius: 3px;
}

.edit-task-container .top .inputs div .label-added{
    z-index: 1;
}

.add-task-container .top .inputs > div > input,
.add-task-container .top .inputs > div > input::placeholder{
    font-size: 0.95rem;
    font-weight: 700;
}

.add-task-container .top .inputs > input{
    margin-top: 6px;
}

.add-task-container .top .inputs > input,
.add-task-container .top .inputs > input::placeholder{
    font-size: 0.87rem;
    font-weight: 400;
}

.add-task-container .inputs{
    position: relative;
}

.add-task-container .inputs .label-box{
    width: 100%;
    max-height: 150px;
    overflow: auto;
    background-color: #fff;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 60%;
    left: 0;
    border-radius: 5px;
    z-index: 20;
    transform: scale(0);
    transform-origin: top;
}
.add-task-container .inputs .label-box.show{
    transform: scale(1);
}

.add-task-container .inputs .label-box > div img{
    transform: rotate(90deg);
    width: 0.95rem;
}

.add-task-container .inputs .label-box > div p{
    margin: 0;
    font-size: 0.85rem;
}

.add-task-container .inputs .label-box > div{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid var(--sidebar-hover-color);
}

.add-task-container .inputs .label-box > div:hover,
.add-task-container .inputs .label-box > div.active{
    cursor: pointer;
    background-color: var(--sidebar-hover-color);
    transition: 400ms;
}

.add-task-container .flex-container{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.add-task-container .flex-container > div{
    font-size: 0.85rem;
    border-radius: 5px;
    border: 1px solid rgb(206, 206, 206);
    position: relative;
}

.add-task-container .flex-container > div .btn{
    display: flex;
    gap: 6px;
    align-items: center;
    height: 100%;
    padding: 2px 6px;
}

.add-task-container .flex-container > div .btn:hover{
    background-color: var(--sidebar-hover-color);
    cursor: pointer;
    transition: 500ms;
}


.add-task-container .flex-container > div img{
    width: 0.95rem;
}

.add-task-container .flex-container .due-date{
    color: #059669;
}

.add-task-container .flex-container .due-date img{
    filter: invert(39%) sepia(96%) saturate(520%) hue-rotate(115deg) brightness(92%) contrast(96%);
}

.add-task-container .bottom{
    display: flex;
    position: relative;
}

.add-task-container .select-project{
    margin-right: auto;
}

.add-task-container .select-project p{
    margin: 0;
}

.add-task-container .bottom > *{
    padding: 6px 10px;
}

.add-task-container .bottom > button{
    border: none;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 700;
    min-width: 60px;
}

.add-task-container button.add-btn{
    margin-left: 10px;
    background-color: var(--topPanel-color);
    color: #fff;
    opacity: 0.6;
    cursor:not-allowed;
}

.add-task-container button.cancel-btn{
    background-color: #f5f5f5;
}

.add-task-container button.cancel-btn:hover{
    background-color: var(--sidebar-hover-color);
    cursor: pointer;
    transition: 500ms;
}

.add-task-container .select-project{
    display: flex;
    border-radius: 5px;
    align-items: center;
    gap: 6px;
    font-size: 0.85rem;
    font-weight: 700;
    opacity: 0.7;
}

.add-task-container .select-project img{
    width: 0.95rem;
}

.add-task-container .select-project:hover{
    opacity: 1;
    background-color: var(--sidebar-hover-color);
    transition: 500ms;
    cursor: pointer;
}

/* Date picker */

.date-picker{
    color: #000;
    background-color: #fff;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: 260px;
    border-radius: 5px;
    z-index: 20;
    transform: scaleY(0);
    transform-origin: top;
}

.date-picker.show{
    transform: scaleY(1);
}

.date-picker .type-date{
    padding: 15px;
    border-bottom: 1px solid var(--sidebar-hover-color);
    position: relative;
}

.date-picker .type-date input{
    width: 100%;
    font-size: 0.85rem;
    margin: 0;
    padding: 0;
    font-weight: 100;
}

.date-picker .type-date .icon{
    position: absolute;
    height: max-content;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.date-picker .type-date .icon img{
    filter: invert(23%) sepia(2%) saturate(3000%) hue-rotate(349deg) brightness(87%) contrast(82%);
    width: 1.4rem;
}

.date-picker .type-date input::placeholder{
    font-size: 0.85rem;
    font-weight: 100;
}

.date-picker .input-validation-text{
    padding: 10px 10px 0;
    display: none;
}

.date-picker .input-validation-text p{
    margin: 0;
    font-weight: 300;
    font-size: 0.8rem;
}

.date-picker .input-validation-text > div img{
    width: 1.7rem;
    filter: invert(30%) sepia(2%) saturate(1790%) hue-rotate(202deg) brightness(96%) contrast(84%);
}

.date-picker .input-validation-text > div:first-of-type{
    display: flex;
    gap: 8px;
}

.date-picker .input-validation-text > div:first-of-type p:first-of-type{
    font-weight: 400;
    font-size: 0.9rem;
}

.date-picker .input-validation-text > div:nth-of-type(2){
    padding-top: 10px;
}

.date-picker .input-validation-text .date-req{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-picker .input-validation-text .date-req img{
    width: 1.4rem;
    transition: 400ms;
}

.date-picker .input-validation-text .date-req img:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 400ms;
}

.date-picker .input-validation-text > div:nth-of-type(2) ul.show{
    transform: scaleY(1);
    height: auto;
}

.date-picker .input-validation-text > div:nth-of-type(2) ul{
    margin: 5px 20px;
    padding: 0;
    height: 0;
    transform: scaleY(0);
}
.date-picker .input-validation-text > div:nth-of-type(2) ul li{
    padding-top: 5px;
}

.date-picker .pick-icon{
    padding: 10px;
}

.date-picker .pick-icon > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.date-picker .pick-icon > div span{
    display: flex;
    align-items: center;
    gap: 15px;
}

.date-picker .pick-icon > div:hover{
    background-color: var(--sidebar-hover-color);
    cursor: pointer;
    transition: 500ms;
}

.date-picker .pick-icon > div p{
    margin: 0;
}

.date-picker .pick-icon > div > p{
    font-weight: 100;
    font-size: 0.8rem;
}

.date-picker .pick-icon > div img{
    width: 1.3rem;
}

.date-picker .pick-icon > div:first-of-type img{
    filter: invert(39%) sepia(96%) saturate(520%) hue-rotate(115deg) brightness(92%) contrast(96%);
}
.date-picker .pick-icon > div:nth-of-type(2) img{
    filter: invert(84%) sepia(47%) saturate(2119%) hue-rotate(339deg) brightness(104%) contrast(97%);
}
.date-picker .pick-icon > div:nth-of-type(3) img{
    filter: invert(16%) sepia(67%) saturate(6573%) hue-rotate(272deg) brightness(84%) contrast(92%);
}
.date-picker .pick-icon > div:nth-of-type(4) img{
    filter: invert(35%) sepia(24%) saturate(7486%) hue-rotate(180deg) brightness(94%) contrast(98%);
}
.date-picker .pick-icon > div:last-of-type img{
    filter: invert(100%) sepia(31%) saturate(324%) hue-rotate(298deg) brightness(87%) contrast(91%);
}

.date-picker .calendar{
    border-top: 1px solid var(--sidebar-hover-color);
    padding: 0px 15px 15px;
    overflow: auto;
    scrollbar-width: none;
    height: 240px;
    position: relative;
}
.date-picker .calendar::-webkit-scrollbar{
    display: none;
}

.date-picker .calendar ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.date-picker .calendar .nav{
    padding-top: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 50;
}

.date-picker .calendar .nav p{
    margin: 0;
}

.date-picker .calendar .nav img{
    filter: invert(67%) sepia(0%) saturate(565%) hue-rotate(240deg) brightness(106%) contrast(63%);
}

.date-picker .calendar .nav .icons{
    display: flex;
}

.date-picker .calendar .nav .icons > div{
    padding: 3px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-picker .calendar .nav .icons > div:hover{
    background-color: var(--sidebar-hover-color);
    cursor: pointer;
    transition: 500ms;
}

.date-picker .calendar .bottom{
    border: none;
    padding-top: 0;
    display: flex;
}

.date-picker .calendar .bottom ul{
    display: flex;
    border: none;
}

.date-picker .calendar .bottom ul li{
    border: none;
    font-size: 0.85rem;
    font-weight: 400;
}

.date-picker .calendar ul{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    gap: 9px;
}

.date-picker .calendar .nav ul{
    height: 30px;
}

.date-picker .calendar .months ul{
    grid-auto-rows: 1fr;
    height: 150px;
}

.date-picker .calendar .months div{
    border-bottom: 1px solid var(--sidebar-hover-color);
    padding: 12px 0 6px;
    margin-bottom: 8px;
}

.date-picker .calendar ul li{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 0.7rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.date-picker .calendar .months ul li:hover{
    cursor: pointer;
    background-color: var(--sidebar-hover-color);
}

.date-picker .calendar ul li.today,
.date-picker .calendar ul li.today:hover{
    background-color: var(--topPanel-color);
    color: #fff;
    font-weight: 700;
    font-size: 0.8rem;
}

.date-picker .calendar ul li.weekend{
    opacity: 0.5;
}

.date-picker .calendar ul li.past{
    opacity: 0.2;
}

.date-picker .calendar ul li.past:hover{
    background-color: #fff;
    cursor: auto;
}

.date-picker .add-time{
    border-top: 1px solid var(--sidebar-hover-color);
    padding: 5px 0 5px 15px;
    position: relative;
}

.date-picker .add-time p{
    cursor: pointer;
    color: var(--topPanel-color);
    font-weight: 700;
    margin: 0;
    padding: 5px 0;
    width: max-content;
}

.date-picker .add-time .time-picker{
    position: absolute;
    width: 200px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px 15px;
    bottom: 100%;
    left: -20%;
    z-index: 100;
    background-color: #fff;    
    transform: scaleY(0);
    transform-origin: bottom;
}

.date-picker .add-time .time-picker.show{
    transform: scaleY(1);
}

.date-picker .add-time .time-picker > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.date-picker .add-time .time-picker input{
    width: 100px;
    margin: 0;
    padding: 0;
    border: 1px solid var(--sidebar-hover-color);
    font-size: 0.85rem;
    font-weight: 100;
    padding: 4px;
    border-radius: 5px;
}

.date-picker .add-time .time-picker input::placeholder{
    font-size: 0.85rem;
    font-weight: 100;
}
.date-picker .add-time .time-picker input:focus{
    outline: 1px solid var(--sidebar-hover-color);
}

.date-picker .add-time .time-picker .time{
    border-bottom: 1px solid var(--sidebar-hover-color);
    padding-bottom: 10px;
}

.date-picker .add-time .time-picker .btns{
    padding-top: 10px;
}


/* Priority picker */
.add-task-container .priority-picker{
    background-color: #fff;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: max-content;
    border-radius: 5px;
    z-index: 20;
    transform: scale(0);
    transform-origin: top;
}

.add-task-container .priority-picker.show{
    transform: scale(1);
}

.add-task-container .priority-picker > div{
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.add-task-container .priority-picker > div:hover{
    cursor: pointer;
    background-color: var(--sidebar-hover-color);
    transition: 500ms;
}

.add-task-container .priority-picker > div p{
    margin: 0;
    padding: 0 10px;
}

.add-task-container .priority-picker > div img:last-of-type{
    filter: invert(44%) sepia(74%) saturate(3398%) hue-rotate(334deg) brightness(96%) contrast(83%);
    width: 1.2rem;
    opacity: 0;
}
.add-task-container .priority-picker > div.checked img:last-of-type{
    opacity: 1;
}

.add-task-container .priority-picker > div.prio1 img:first-of-type{
    filter: invert(44%) sepia(74%) saturate(3398%) hue-rotate(334deg) brightness(96%) contrast(83%);
}
.add-task-container .priority-picker > div.prio2 img:first-of-type{
    filter: invert(70%) sepia(49%) saturate(4175%) hue-rotate(1deg) brightness(105%) contrast(92%);
}
.add-task-container .priority-picker > div.prio3 img:first-of-type{
    filter: invert(45%) sepia(41%) saturate(982%) hue-rotate(178deg) brightness(102%) contrast(94%);
}

/* Label Picker*/
.add-task-container .label-picker{
    width: max-content;
    background-color: #fff;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
    position: absolute;
    max-height: 150px;
    overflow: auto;
    top: calc(100% + 1px);
    left: 0;
    border-radius: 5px;
    z-index: 20;
    transform: scale(0);
    transform-origin: top;
}
.add-task-container .label-picker.show{
    transform: scale(1);
}

.add-task-container .label img{
    transform: rotate(90deg);
}

.add-task-container .label-picker > div{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.add-task-container .label-picker > div:hover{
    transition: 500ms;
    cursor: pointer;
    background-color: var(--sidebar-hover-color);
}

.add-task-container .label-picker > div p{
    margin: 0;
    width: 15ch;
}

.add-task-container .label-picker .check-box{
    width: 17px;
    height: 17px;
    border: 1px solid #525252;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-task-container .label-picker div.checked img{
    opacity: 1;
}
.add-task-container .label-picker div.checked .check-box{
    background-color: #525252;
}

.add-task-container .label-picker .check-box img{
    transform: rotate(0);
    opacity: 0;
    filter: invert(100%) sepia(99%) saturate(0%) hue-rotate(182deg) brightness(109%) contrast(101%);
}

/* project picker */
.add-task-container .bottom .project-picker{
    width: max-content;
    background-color: #fff;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    border-radius: 5px;
    z-index: 20;
    transform: scale(0);
    transform-origin: top;
    padding: 0;
    height: 140px;
    overflow: hidden;
}

.add-task-container .bottom .project-picker.show{
    transform: scale(1);
}

.add-task-container .bottom .project-picker input{
    width: 32ch;
    font-size: 0.85rem;
    margin: 0;
    padding: 8px;
    border-bottom: 1px solid var(--sidebar-hover-color);
}

.add-task-container .bottom .project-picker input::placeholder{
    font-size: 0.85rem;
}

.add-task-container .bottom .project-picker p{
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    font-weight: 400;
    margin-right: auto;
}

.add-task-container .bottom .project-picker div.inbox{
    padding-left: 8px;
    font-size: 0.9rem;
}

.add-task-container .bottom .project-picker div.inbox p{
    margin-left: 8px;
}
.add-task-container .bottom .project-picker div.inbox img:last-of-type{
    margin-right: 10px;
}

.add-task-container .bottom .project-picker ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.add-task-container .bottom .project-picker > ul figcaption{
    font-size: 0.9rem;
    font-weight: 400;
    position: relative;
    padding: 0 0 0 12px;
}

.add-task-container .bottom .project-picker > ul > *{
    border: none;
}

.add-task-container .bottom .project-picker > ul li{
    font-size: 0.90rem;
    padding-left: 20px;
}

.add-task-container .bottom .project-picker img.projectChecked{
    display: none;
}

.add-task-container .bottom .project-picker img.projectChecked.active{
    display: block;
}

.add-task-container .bottom .project-picker > ul li img,
.add-task-container .bottom .project-picker > ul figcaption img{
    width: 1rem;
    margin-right: 6px;
}

.add-task-container .bottom .project-picker div.inbox img{
    width: 1.1rem;
}

.add-task-container .bottom .project-picker div.inbox,
.add-task-container .bottom .project-picker > ul li,
.add-task-container .bottom .project-picker > ul figcaption{
    height: 30px;
    display: flex;
    align-items: center;
}

.add-task-container .bottom .project-picker .inbox:hover,
.add-task-container .bottom .project-picker > ul li:hover,
.add-task-container .bottom .project-picker > ul figcaption:hover{
    cursor: pointer;
    background-color: var(--sidebar-hover-color);
}






