.today .title{
    display: flex;
    align-items: end;
    gap: 5px;
    margin-bottom: 40px;
}

.today .title h3,
.today .title p{
    margin: 0;
}

.today .title p{
    font-weight: 100;
    font-size: 0.85rem;
}

.today .title p.date{
    margin-right: auto;
}

.grayFilter{
    filter: invert(76%) sepia(0%) saturate(713%) hue-rotate(243deg) brightness(87%) contrast(84%);
}

.today .title .view{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 2px;
}

.today .title .view:hover{
    background-color: var(--sidebar-hover-color);
    cursor: pointer;
    transition: 500ms;
    border-radius: 3px;
}

.today ul{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0.95rem;
}

.today ul.today-tasks{
    margin-top: 30px;
}

.today ul > li[data-id]{
    padding: 10px 0;
    border-bottom: 1px solid var(--sidebar-hover-color);
}

.today ul figcaption{
    padding: 6px 0;
    border-bottom: 1px solid var(--sidebar-hover-color);
}

.today figcaption{
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.today figcaption p,
.today figcaption h4{
    margin: 0;
}

.today .overdue > figcaption p{
    font-size: 0.8rem;
    color: var(--topPanel-color);
}

.today li > .top{
    display: flex;
    align-items: flex-start;
}

.today li > .top .text{
    margin-right: auto;
    padding-top: 2px;
    padding-left: 10px;
    font-size: 0.9rem;
    max-width: 52ch;
}

.today li > .top .text .description{
    font-size: 0.85rem;
    font-weight: 300;
    padding: 5px 0 10px;
}

.today p{
    margin: 0;
}

.today li > .bottom{
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    font-weight: 300;
}

.today .overdue > li .bottom > div p{
    font-weight: 400;
}
.today .overdue > li .bottom > .date p{
    color:#c95151;
}
.today .overdue > li .bottom > .date img{
    filter: invert(52%) sepia(42%) saturate(4941%) hue-rotate(330deg) brightness(85%) contrast(82%);
}

.today li > .bottom > div:nth-last-child(2){
    margin-right: auto;
}

.today li > .bottom .date{
    margin-left: 34px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
} 

.today li > .bottom .label{
    display: flex;
    gap: 3px;
}

.today li > .bottom .label:hover{
    cursor: pointer;
    border-bottom: 1px solid #bbbbbb;
}

.today li > .bottom .label img{
    width: .9rem;
}

.today li .icons{
    display: flex;
    align-items: center;
}

.today li .icons div{
    padding: 2px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.today li .icons div:hover{
    cursor: pointer;
    background-color: var(--sidebar-hover-color);
    transition: 500ms;
}

.today li .project-name{
    display: flex;
    gap: 5px;
}

.prioOne{
    width: 20px;
    height: 20px;
    background-color: #fee2e2;
    border-radius: 50%;
    border: 2px solid #ef4444;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prioTwo{
    width: 20px;
    height: 20px;
    background-color: #ffedd5;
    border-radius: 50%;
    border: 2px solid #f97316;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prioThree{
    width: 20px;
    height: 20px;
    background-color: #dbeafe;
    border-radius: 50%;
    border: 2px solid #3b82f6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prioFour{
    width: 20px;
    height: 20px;
    background-color: #f5f5f4;
    border-radius: 50%;
    border: 2px solid #78716c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prioOne img{
    filter: invert(39%) sepia(61%) saturate(3822%) hue-rotate(338deg) brightness(96%) contrast(95%);
}
.prioTwo img{
    filter: invert(66%) sepia(87%) saturate(4239%) hue-rotate(352deg) brightness(100%) contrast(96%);
}
.prioThree img{
    filter: invert(40%) sepia(93%) saturate(1911%) hue-rotate(203deg) brightness(99%) contrast(94%);
}
.prioFour img{
    filter: invert(50%) sepia(7%) saturate(470%) hue-rotate(342deg) brightness(87%) contrast(80%);
}

.today ul li .priority-box img{
    width: 0.85rem;
    opacity: 0;
    transition: 400ms;
}

.today ul li .priority-box{
    cursor: pointer;
    padding: 2px;
}

.today ul li .priority-box:hover img{   
    opacity: 1;
    transition: 400ms;
}